body{
    background-color:powderblue;

} 
header
{
  text-align: center;
  
}
#logo {
    text-align: center;
}
.Font{
    background-color: rgb(3, 124, 139);
    font-family: Verdana, sans-serif;
    font-size: 17px;
    color: rgb(10, 10, 10);
    
}

h1 {
    font-family: Georgia, serif;
    font-size: 60px;
    color: rgb(7, 0, 0);
  }
h2 {
    font-family: Georgia, serif;
    font-size: 30px;
    color: rgb(2, 29, 48);
  }
  h3 {
    font-family: Georgia, serif;
    font-size: 20px;
    color: rgb(2, 29, 48);
  }